.countries {
    background-color: #50d8af;
}


.body {
    background-color: #38565c;
}

.member {
    text-align: center;
    font-style:italic;
    font-weight: bolder;
    color: white;    
}

.country-card {
    padding-bottom: 20px;
}


  
