<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="icon" href="{% static 'images/icon.jpg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R-Corona Tracker | 
    {% block title %}
        
    {% endblock title %}
    </title>
</head>


<body style="background-color: #15202b"> 

    <nav class="navbar navbar-expand-md navbar-dark bg-info">
        <a href="{% url 'mainapp:homepage' %}" class="navbar-brand">ReTech Corona Statistics</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="{% url 'mainapp:countries' %}" class="nav-item nav-link active">Countries</a>
                <a href="https://github.com/itsregalo" class="nav-item nav-link active">Products</a>
            </div>
            <form class="form-inline ml-auto">
                <input name='q' type="text" placeholder="eg. kenya" class="form-control mr-sm-2" placeholder="Search"
                value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-outline-light">Search</button>
            </form>
        </div>
      </nav>
    {% block body %}
    
    {% endblock body %}
        
</body>
</html>