<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'images/icon.jpg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R-Corona Tracker | 
    {% block titke %}
        Home
    {% endblock titke %}
    </title>
</head>
<body style="background-color: #15202b""> 
    <div class="text-center">
        <h3 style="color: white;" class="p-3 bg-primary">Retech Coronavirus Tracker (KENYA)<span style="color: red;" >Live</span> </h3>
    </div>
    
    {% block body %}
    
    {% endblock body %}
        
    
</body>
</html>