
{% extends 'base.html' %}
{% load static %}
{% block title %}
        {{ country.name }}
{% endblock title %}
{% block body %}

<div class="text-center">
  <h3 style="color: white;" class="p-3 bg-info">Retech Coronavirus Tracker ({{ country.name }})<span style="color: red;" >Live</span> </h3>
</div>


<div class="container">

    <section id="counter" class="section-padding">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-12 col-md-12 col-xs-12">
              <div class="mt-4 text-center row">
                <!-- Start counter -->
                <div class="bg-danger mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                  <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon-o"><i class="lni-users"></i></div>
                    <div class="fact-count">
                      <h2><span class="counter"> <b>{{ total }}</b> </span></h2>
                      <h3>All Cases</h3>
                    </div>
                  </div>
                </div>
                <!-- End counter -->
                <!-- Start counter -->
                <div class="bg-warning mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                  <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon-o"><i class="lni-users"></i></div>
                    <div class="fact-count">
                      <h2><span class="counter"> <b>{{ active }}</b> </span></h2>
                      <h3>Active Cases</h3>
                    </div>
                  </div>
                </div>
                <!-- End counter -->
                <!-- Start Counter -->
                <div class="bg-info mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                  <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon-o"><i class="lni-users"></i></div>
                    <div class="fact-count">
                      <h2><span class="counter"> <b>{{ critical }}</b> </span></h2>
                      <h3>Critical Cases</h3>
                    </div>
                  </div>
                </div>
              <!-- End counter -->
                <!-- Start counter -->
                <div class="bg-success mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                    <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                      <div class="icon-o"><i class="lni-users"></i></div>
                      <div class="fact-count">
                        <h2><span class="counter"> <b>{{ recovered }}</b> </span></h2>
                        <h3>Recovered</h3>
                      </div>
                    </div>
                  </div>
                <!-- End counter -->
                <!-- Start counter -->
                <div class="bg-secondary mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                    <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                      <div class="icon-o"><i class="lni-users"></i></div>
                      <div class="fact-count">
                        <h2><span class="counter"> <b>{{ deaths }}</b> </span></h2>
                        <h3>Total Deaths</h3>
                      </div>
                    </div>
                  </div>
                <!-- End Counter -->
              <!-- Start counter -->
              <div class="bg-danger mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                  <div class="icon-o"><i class="lni-users"></i></div>
                  <div class="fact-count">
                    <h2><span class="counter"> <b>{{ new_deaths }}</b> </span></h2>
                    <h3>New Deaths</h3>
                  </div>
                </div>
              </div>
              <!-- End counter -->
              <div class="bg-warning mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                  <div class="icon-o"><i class="lni-users"></i></div>
                  <div class="fact-count">
                    <h2><span class="counter"> <b>{{ new }}</b> </span></h2>
                    <h3>New Cases</h3>
                  </div>
                </div>
              </div>


          </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Counter Section End -->
      <div class="bg-success">
        <h5 class="text-center">Last Updated on {{ date_updated }}</h5>
      </div>

</div>
<footer>
    <div class="text-center">
        <p class="bg-success"> Developed by <a href="https://github.com/itsregalo">itsregalo</a> .</p>
    </div>
    
</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock body %}
    
    
