
{% extends 'base.html' %}

{% block title %}
    Countries
{% endblock title %}


{% block body %}

  <div class="text-center">
      <h3 style="color: white;" class="p-3 bg-info">Retech Coronavirus Statistics <span style="color: red;" >Live</span> </h3>
  </div>

<div class="container">

    <section class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h3 class="bg-info text-center">Countries [East Africa]</h3>
        </div>

        <div class="row">
          
          {% if countries %}

          
          {% for obj in countries %}
            <div class="col-lg-3 col-md-3 mb-6">
              <div class="country-card">
                <div class="card">
                  <div class="member">
                    <a href="{% url 'mainapp:country_detail' obj.name %}">
                      <div class="pic view overlay">    
                        {% if obj.flag %}
                          <img class="card-img-top" src="{{ obj.flag_thumbnail.url }}" alt="{{ obj.name }}">
                        {% endif %}      
                      </div>
                      <div class="card-body">
                        <h3><a href="{% url 'mainapp:country_detail' obj.name %}">{{ obj.name }}</a></h3>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
            

          {% else %}
          <div>
            <h3>No Entries yet</h3>
          </div>
          {% endif %}
          

        </div>

      </div>
    </section>


</div>
<footer>
<div class="text-center">
    <p class="bg-info"> Developed by <a href="https://github.com/itsregalo">itsregalo</a> .</p>
</div>

</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock body %}
    
    